@page
@model ActividadPaginasRazor.Pages.programa2Model
@{
}

<h3>Programa 2</h3>
<h1>Encriptado Julio Cesar</h1>

<form method="post" class="mt-4">
    <div class="form-group">
        <label for="mensaje">Mensaje:</label>
        <input type="text" class="form-control" id="mensaje" name="mensaje" placeholder="Ingrese su mensaje" required />
    </div>
    <div class="form-group">
        <label for="n">Valor de n:</label>
        <input type="number" class="form-control" id="n" name="n" min="1" placeholder="Ingrese el valor de n" required />
    </div>
    <div class="form-group">
        <label for="accion">Acción:</label>
        <select class="form-control" id="accion" name="accion">
            <option value="codificar">Codificar</option>
            <option value="decodificar">Decodificar</option>
        </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@if (Model.Resultado != null)
{
    <div class="mt-4">
        <h2>Resultado:</h2>
        <h1><strong>@Model.Resultado</strong></h1>
    </div>
}


